/* Added  styles */
/* .feature_btn_img{4
    width: 25px;
    height: 25px;
    margin-top: -3px;
} */

.login_quote_bg{
    background-color: #0000003c;
    display: table-cell;
    vertical-align: middle;
    border-radius: 30px 30px 30px 30px ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.159);
}
.zoom_Product{
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.zoom_Product:hover{
    transform: scale(1.2);
}
.feature_btn{
    text-decoration: none;
    color: #2c0000;
    background-color: rgb(255, 248, 228);
    border: 0.4px solid rgba(65, 43, 0, 0.53);
    padding: 5px 10px;
}
.feature_btn:hover{
    color: white;
    background-color: rgb(255, 0, 0);
    border: 0.4px ridge white;
    border-radius: 15px;
}
.Banner_Head{
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
}

.home_banner{
    margin: auto;
    margin-top: -150px ;
    width: 550px !important;
    height: 900px !important;
    
}
.home_banner_2{
    margin: auto;
    margin-top: -100px ;
    width: 550px !important;
    height: 600px !important;
    flex-shrink: 0;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px 0px 15px 0px;
    text-align: center;
    width: 200px;
    /* height: 400px; */
}

.product-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    /* position: absolute; */
    /* border: 1px solid rgba(0, 0, 0, 0.169); */
}
.image_container{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid rgba(0, 0, 0, 0.169); */
}

.sign{
    color: red !important;
    font-weight: bolder!important;
    
}
.otpDiv{
    background-color: #e74c3c;
    border-radius: 33px;
    background: #FFF;
    width: 626px;
    height: 677px;
    flex-shrink: 0;

}
.otp-container {
    display: flex;
    justify-content:left
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    border: 2px solid #3498db;
    border-radius: 30%;
    outline: none;
}

/* Optional: Add some styles for a focused state */
.otp-input:focus {
    border-color: #e74c3c;
}

/* ORED PAGE */

.OrdeerSataus{
    border: none;
    padding: 0.2vw 2vw;
    background-color: rgb(0, 181, 9);
    border-radius: 15px;
    color: white;
    transition: 1s;
}
.OrdeerSataus:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid green;
    color: green;
}

.accordion-header :hover{
    background-color: #ffeede;
}

.accordion-header{
    background-color: #fdf5ee;
}
.accordion-button{
    background-color: #fdf5ee;
}
.cancelOrder{
    /* padding: 0.2vw 2vw;
    background-color: rgb(19, 93, 255);
    width: fit-content;
    transition: 1s; */
    color: blue;
    /* border-radius: 15px; */
    font-size: 12px;
}
/* .cancelOrder:hover{
    color: blue;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
} */

  /* Zoom Effect */
.zoomDiv{
    background-color: transparent;
    height: 60vh;
    width: 41vw;
    position: absolute;
    right: 0;
    display: none;
    overflow: hidden;
}

.zoomDiv > img {
    object-fit: cover;
    height: 230%;
    transform: translate3d(0px, 0px, 0px);
    transition: 5ms;
}

  /* COUPON */

  .expireDateParagraph{
    font-size: 10px;
    color: orange;
  }
    /* wallet failed swal fire */
  /* Define custom styles for error popup */
.error-popup {
    border-radius: 10px;
  }
  
  /* Define custom styles for error title */
  .error-title {
    color: #ff0000; /* Red color for the title */
  }
  
  /* Define custom styles for error text content */
  .error-text {
    color: #ff0000; /* Red color for the text content */
  }

  #downloadInvoiceBtn{
    border: none;
    border-radius: 7px;
  }

  /* Custom CSS for Swal in Payment Failed */
  .swal-icon.payment-failed {
    color: #f44336; /* Red color */
  }