<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranaz</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/slick.css">
    <link rel="stylesheet" href="/assets/UserProfile/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/UserProfile/css/style.css">

    <link rel="icon" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="css/added.css">
    <!-- Bootsratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- ..Font Awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .country_select {
            margin-right: 5vw;
        }

        .AddAddress {
            width: 25vw !important;
            padding: 10px;
            border-radius: 15px;
            border: 1px solid white;
            background-color: chartreuse;
            color: white;

        }

        .AddAddress :hover {
            background-color: rgb(62, 123, 0);
            transition: 3ms;
            transform: scale(1);
        }
    </style>
</head>

<body>

    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="home.ejs"> <img src="/assets/images/Group 7.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shop
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/loadSearchProduct"> shop category</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown ">


                


                                                
                                </li>
                            </ul>.
                        </div>
                        <div class="hearer_icon d-flex" style="width: 180px; justify-content: space-between; align-items: center;">
                            <a href="/loadWhishList"><i class="fa-regular fa-heart" style="color: red;"></i></a>
                            <div class="dropdown cart">
                                <!-- <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                </a> -->
                                <a href="/Cart"><i class="fa-solid fa-cart-shopping fa-bounce" style="color: rgb(255, 106, 0);"></i></a>
                                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">
                                        <a href="/Cart">Cart</a>
                                    </div>
                                </div> -->

                            </div>
                            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/assets/images/person-lines-fill.svg" alt="">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <% if(typeof Profile !=='undefined' ){ %>
                                    <li style="background-color: rgb(255, 14, 78); border-radius: 15px;"><a
                                            style=" text-decoration: none; padding: 0px 15px;" href="/UserProfile"><img
                                                src="/assets/images/person-lines-fill.svg" alt=""><button
                                                class="dropdown-item" type="button"
                                                style="color: white;">Profile</button></a></li>
                                    <% }else{ %>
                                        <li style="background-color: red; border-radius: 15px;"><a href="/Signup"
                                                style="text-decoration: none; "><button class="dropdown-item"
                                                    type="button" style="color: white;">Sign Up</button></a></li>
                                        <% } %>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- Add Form Start -->

    <div class="container" style=" margin-top: 10vw; display: flex; justify-content: center;">
        <div class="col-lg-8" style="background-color: rgb(255, 249, 241); border-radius: 15px; padding: 10px;">
            <div class="subb" style="margin: 20px;">
                <h3 style="text-align: center; font-weight: bold;">Add Address</h3>
                <form class="row contact_form" action="Add_Address" method="post" novalidate="novalidate"
                    onsubmit=" return address_Validation()">

                    <div style="display: flex; "><label for="">First Name</label><p id="F_name" style="margin-left: 5px; color: red;"></p></div>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="first" name="firstname" />

                    </div>

                    <label for="">Last Name</label>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="last" name="lastname" />
                        <!-- <span class="placeholder" data-placeholder="Last name"></span> -->
                    </div>
                    <!-- <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="company" name="company" placeholder="Company name" />
                    </div> -->
                    
                    <div style="display: flex; "><label for="">Phone Number</label><p id="phone-number" style="margin-left: 5px; color: red;"></p></div>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="number" name="number" maxlength="10" />
                        <!-- <span class="placeholder" data-placeholder="Phone number"></span> -->
                    </div>

                    <div style="display: flex; "><label for="">Email</label><p id="email-error" style="margin-left: 5px; color: red;"></p></div>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="email" name="email" />
                        <!-- <span class="placeholder" data-placeholder="Email Address"></span> -->
                    </div>

                    <div class="col-md-12 form-group p_star " style="display: flex;">
                        <select class="country_select" name="Country"  id="Country">
                            <option value="India">India</option>
                            <option value="USA">USA</option>
                            <option value="Caneda">Caneda</option>
                        </select>

                        <select class="country_select" name="State" id="State">
                            <option value="Kerala">Kerala</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Karnadaka">Karnadaka</option>
                        </select>

                        <select class="country_select" name="District" id="District">
                            <option value="Palakkad">Palakkad</option>
                            <option value="Malappuram">Malappuam</option>
                            <option value="Kozhikod">Kozhikod</option>
                        </select>
                    </div>
                    <label for="">Flat, House no., Building, Company, Apartment</label>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="add1" name="add1" />
                        <!-- <span class="placeholder" data-placeholder=""></span> -->
                    </div>

                    <label for="">Area, Street, Sector, Village</label>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="add2" name="add2" />
                        <!-- <span class="placeholder" data-placeholder="Address line 02"></span> -->
                    </div>
                    <label for="">Town /City</label>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="city" name="city" />
                        <!-- <span class="placeholder" data-placeholder="Town/City"></span> -->
                    </div>

                    <label for="">Pincode</label>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Postcode/ZIP" max="6" />
                    </div>
                    <!-- <div class="col-md-12 form-group">
                <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector" />
                  <label for="f-option2">Create an account?</label>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="creat_account">
                  <h3>Shipping Details</h3>
                  <input type="checkbox" id="f-option3" name="selector" />
                  <label for="f-option3">Ship to a different address?</label>
                </div>
                <textarea class="form-control" name="message" id="message" rows="1"
                  placeholder="Order Notes"></textarea>
              </div> -->
                    <div style="display: flex; justify-content: center;">
                        <input type="submit" value="Add Address" class="AddAddress">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

   


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

    <!-- Bootstrap Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>


    <script>
        function address_Validation(){
            console.log("Address_Validion function invoked ");
            var F_name = document.getElementById('first').value;
            var L_name = document.getElementById('last').value;
            var phoneNumber = document.getElementById('number').value;
            var email = document.getElementById('email').value;
            var pincode = document.getElementById('pincode').value;
            var Country = document.getElementById('Country').value
        var State = document.getElementById('State').value
        var District = document.getElementById('District').value
        var add1 = document.getElementById('add1').value
        var add2 = document.getElementById('add2').value
        var city = document.getElementById('city').value

            
            const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail\.[a-zA-Z]{2,4}$/;
            
            if(!/^[a-zA-Z][a-zA-Z0-9]*$/.test(F_name)){
                document.getElementById('F_name').innerHTML ="Please Enter a Valid Name"
                setTimeout(function() {
                    document.getElementById('F_name').innerHTML = "";
                }, 3000);

                return false
            }else if (!/^[a-zA-Z][a-zA-Z0-9]*$/.test(L_name)) {
                document.getElementById('F_name').innerHTML ="Please Enter a Valid Name Last name"
                setTimeout(function() {
                    document.getElementById('F_name').innerHTML = "";
                }, 3000);

                return false
            }else if(!/^\d+$/.test(phoneNumber)){
                document.getElementById('phone-number').innerHTML ="Please Enter a  valid Phone Number"
                setTimeout(function() {
                    document.getElementById('phone-number').innerHTML = "";
                }, 3000);
                return false
            }else if(phoneNumber.length !== 10){
                document.getElementById('phone-number').innerHTML = "Enter a Valid Phone Number"
                setTimeout(function() {
                    document.getElementById('phone-number').innerHTML = "";
                }, 3000);
                return false
            }else if(/^(\d)\1+$/.test(phoneNumber)){
                document.getElementById('phone-number').innerHTML = "Invalid mobile number. It should not consist of the same digit."
                setTimeout(function() {
                    document.getElementById('phone-number').innerHTML = "";
                }, 3000);
                return false
            }else if(!emailRegex.test(email)){
                document.getElementById('email-error').innerHTML = "Write a valid email"
                
                setTimeout(function() {
                    document.getElementById('email-error').innerHTML = "";
                }, 3000);
                return false
            }
            else if(!Country){
            document.getElementById('F_name').innerHTML = "Write a Country name"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!State){
            document.getElementById('F_name').innerHTML = "Write a State"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!District){
            document.getElementById('F_name').innerHTML = "Write a District"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!add1){
            document.getElementById('F_name').innerHTML = "Write a add1 "
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!add2){
            document.getElementById('F_name').innerHTML = "Write a add2"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!city){
            document.getElementById('F_name').innerHTML = "Write a city "
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!pincode){
            document.getElementById('F_name').innerHTML = "Write a pincode "
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
            else{
                return true
            }

        }


    </script>

</body>

</html>