<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    


    <% var Address = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
    <div class="container mt-5" style="margin-top: 16vw !important;">
      <div class="row">
          <!-- Address Management Section -->
          <div class="col-md-6">
              <div>
                  <% if (typeof Address !== 'undefined' && Address.length > 0) { %>
                      <% Address.forEach((address) => { %>
                          <div style="display: flex; align-items: center; border: 3px solid rgb(23, 73, 255); border-radius: 15px; background-color: rgb(255, 255, 255);">
                              <p><%= address %></p>
                              <button onclick="select('<%=address%>')">Select</button>
                          </div>
                      <% }) %>
                  <% } else { %>
                      <p>No Previous Address</p>
                  <% } %>
              </div>
  
              <!-- <script>
                  var selectedAddress = null;
  
                  function selectAddress(selectedRadio) {
                      var addressInputs = document.querySelectorAll('.address-option');
  
                      addressInputs.forEach(function (radio) {
                          if (radio !== selectedRadio) {
                              radio.checked = false;
                          }
                      });
  
                      selectedAddress = getSelectedAddress();
                  }
  
                  function getSelectedAddress() {
                      var selectedInput = document.querySelector('.address-option:checked');
                      if (selectedInput) {
                          return selectedInput.value;
                      }
  
                      return null; // No address selected
                  }
  
                  function placeOrder() {
                      if (selectedAddress) {
                          console.log('Selected Address ID:', selectedAddress);
                      } else {
                          console.log('Please select an address.');
                      }
                  }
              </script> -->

              <script>
                 function select(Address){
                    console.log(Address);
                    console.log("dsfghjkl");
                 }
              </script>

              
  
              <button type="button" onclick="placeOrder()">Place Order</button>
  
              <div style=" display: flex; justify-content: space-around; margin-top: 15px;">
                  <button type="button" onclick="hideAneme()" class="btn btn-primary btn-block button-address">Add Address</button>
              </div>
  
              <div class="subb" id="Addressdiv" style="display: none;">
                  <!-- Address form goes here -->
              </div>
          </div>
  
          <!-- Product Details Section -->
          <div class="col-md-6">
              <!-- Product details go here -->
          </div>
      </div>
  </div>
  


</body>
</html>
















